*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-bool-light: #e9ebeb;
    --bg-bool-notification:#8edafc;
    --bg-bool-message: #d5f9ba;
    --bg-bool-lighter: white;

}

body{
    background-color: lightgoldenrodyellow;
}
img{
    max-width: 100%;
}

.app_container{
    height: 90vh;
}
.app_row{
    height: 100%;
}

.avatar{
    width:40px;
    height: 40px;
    border-radius: 50%;
}

.avatar > img{
    border-radius: 50%;
}




/* #region left */
.left{
    border-right: 2px solid grey;
}
.left .left_head{
    height: 10%;
    background-color: var(--bg-bool-light);
}

.left .left_body{
    height: 90%;
}

.left .notification{
    background-color: var(--bg-bool-notification);
}

.left .contacts{
    overflow-y: scroll;
}

/* #endregion left */

/* #region right */

.right .right_head{
    height: 10%;
    background-color: var(--bg-bool-light);
}

.right .right_body{
    height: 80%;
    background-image: url(../img/mine.jpg);
    background-size: cover;
}

.right .right_foot{
    height: 10%;
    background-color: var(--bg-bool-light);
}


/* #endregion right */